.section_1{
    width: 300px;
    border-width: 10px 15px 5px 1px;
    border-color: black;
    border-style: solid;
    padding: 15px;
    /* border-top: 7px solid black;
    border-bottom: 2px solid black;
    border-right: 10px solid black; */
}
.section_2{
    margin-top: 10px;
    width: 300px;
    /* padding: 5px; */
    border-top: 10px solid red;
    border-bottom: 7px solid rgb(21, 255, 0);
    border-right: 15px solid blue;
    border-left: 1px solid rgb(153, 153, 153);
}