:root{
    --bg-color:yellow;
    --border:1px solid black
}

section{
    border: var(--border);
    width: 200px;
    height: fit-content;
}

section h1{
    margin-left: 20px;
}

section ul li{
    margin-bottom: 15px;
}

.panel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li {
    width: 100%;
}
/* SECCION A */

.panel__seccion_a ul li:nth-child(2){
    background-color: var(--bg-color);
}

/* SECCION B */
.panel__seccion_b ul li:nth-child(odd){
    background-color: var(--bg-color);
}

/* SECCION  */
.panel__seccion_c ul li:nth-child(3),
.panel__seccion_c ul li:nth-child(6){
    background-color: var(--bg-color);
}
