%button-block {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

%input-block {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #bbb;
}

div {
  &#contenido {
    padding: 30px 20px;
    @include responsive("medium") {
      padding: 10px 20px;
    }
  }
  &.col-left {
    @include box-sizing(border-box);
    width: 30%;
    float: left;
    padding: 10px;

    .login {
      input {
        @extend %input-block;
      }
      button {
        @extend %button-block;
        @if $theme == light{
          background-color: darken($background_color, 10%);
          color: #eee;
        }@else{
          background-color: lighten($background_color, 20%);
          color: #eee;
        }
      }
    }
    @include responsive("medium") {
      float: none;
      width: 100%;
    }
  }
  &.col-right {
    @include box-sizing(border-box);
    margin-left: 30%;
    width: 70%;
    padding: 10px;
    h1 {
      color: $title_color;
      font-size: 1.6em;
    }
    @include responsive("small") {
      margin-left: 0;
      width: 100%;
    }

    .button-action {
      background-color: $background_color;
      color: white;
      &:hover {
        background-color: lighten($background_color, 20%);
      }
    }
  }
}
