$background_color: #15a;
$text_color: #eee;
$theme: dark;


@if $theme == dark{
  $background_color: #138;
}@else if $theme == light{
  $background_color: #ddf;
  $text_color: #138;
}



$text_color_hover: lighten($text_color, 10%);
$background_color_hover: lighten($background_color, 10%);
$title_color: darken($background_color, 10%);

@import "mixins";
body {
  padding: 0px;
  margin: 0px;
}
header {
  padding: 12px 30px;
  font-size: 1.8em;
  @include colours();
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer {
  @include colours();
  @include box_sizing(border_box);
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}
@keyframes iluminar {
  from {
    background-color: #666;
    color: #eee;
  }
  to {
    background-color: #888;
    color: #fff;
  }
}

@import "menu";
@import "content"; ;
