$text_color: #eee;
$text_color_hover: #fff;
$background_color: #666;
$background_color_hover: #888;

@mixin colours {
  color: $text_color;
  background-color: $background_color;
}

@mixin colours_hover {
  color: $text_color_hover;
  background-color: $background_color_hover;
}

@mixin box_sizing($type) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($property, $duration, $timing: linear) {
  -moz-transition: $property $duration $timing;
  -webkit-transition: $property $duration $timing;
  transition: $property $duration $timing;
}

@mixin animation($name, $duration, $timing: linear) {
  @keyframes iluminar {
    from {
      background-color: #666;
      color: #eee;
    }
    to {
      background-color: #888;
      color: #fff;
    }
  }
  -moz-animation: $name $duration $timing;
  -webkit-animation: $name $duration $timing;
  animation: $name $duration $timing;
}

body {
  padding: 0px;
  margin: 0px;
}
header {
  padding: 12px 30px;
  font-size: 1.8em;
  @include colours();
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer {
  @include colours();
  @include box_sizing(border_box);
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

@import "menu";
