.body{
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    grid-template-rows: 10% auto 10%;
    grid-template-columns: 10% auto 10%;
    grid-template-areas: 
    "header         header      header"
    "sidebar-1      main       sidebar-2"
    "footer         footer      footer";
}

.header{
    background-color: tomato;
    grid-area: header;
}
.aside--left{
    background-color: blue;
    grid-area: sidebar-1;

}
.aside--right{
    background-color: rgb(0, 0, 170);
    grid-area: sidebar-2;

}
.main{
    background-color: green;
    grid-area: main;    
}
.footer{
    background-color: red;
    grid-area: footer;
}