.container{
    display: grid;
    /* grid-template-columns: 50px 50px 50px 50px; */
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
header{
    grid-area: header;
    justify-self: center;
    display: grid;
    grid-template-areas: "text img";
}
header img{
    grid-area: img;
    width: 100px;
}
header h4{
    grid-area: text;
}