.container{
    display: grid;
    /* grid-template-columns: 50px 50px 50px 50px; */
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "nav main main aside"
    "footer footer footer footer";
    background-color: #D2691E;
}
header{
    grid-area: header;
    display: grid;
    grid-template-areas: "text img";
    background-color: #00FFFF;
    margin: 10px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    
}
header img{
    grid-area: img;
    width: 100px;
}
header h4{
    grid-area: text;
}
nav{
    margin: 10px;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    background-color: #7FFFD4;
    width: 150px;
    padding: 10px;
}
aside{
    grid-area: aside;
    background-color: #5F9EA0;
    margin: 10px;
    padding: 10px;
}
footer{
    grid-area: footer;
    justify-content: space-around;
    display: grid;
    grid-template-areas: "email tel";
    background-color: #008B8B;
}
footer:first-child{
    grid-area:email;
} 

@media screen and ( max-width:760px){

    header{
        width: 95%;
        margin: 0;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        box-sizing: content-box;

    }
    header img{
        display: none;
    }

    .container{
        display: grid;
        /* grid-template-columns: 50px 50px 50px 50px; */
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "main  main main main"
        "aside aside aside aside"
        "footer footer footer footer";
        background-color: white;
    }

    nav{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        justify-content: space-around;
    }

}